body{
    background-image: url(./pix/weather.jpg);
}
h2{
    margin-top: 300px;
    font-size: 35px;
    color: rgb(236, 24, 24);
    font-weight: bold;
}
input, button { 
    padding: 8px; margin: 5px 0;
 }
 label{
    font-size: 20px;
    color: rgb(89, 242, 107);
 }
 p{
    font-size: 35px; 
    color: rgb(14, 33, 243);
    ;
}

.temp{
    
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}